<!DOCTYPE html>
<html lang="en">

<head>
  {% if user.is_active == False %}
  <meta http-equiv="refresh" content="0;url=../index" />
  {% endif %}
    {% load static %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NUTC_Elearning</title>

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet"> 


  <style>
    /* Center the loader */
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    /* Add animation to "page content" */

    #myDiv {
      display: none;
      text-align: center;
    }
  </style>
  <style type=text/css> 
    /*全部設定字體*/
    body { font-family: 'Noto Sans TC', sans-serif;}
  </style>
</head>  


<body onload="startFunction()" style="margin:0;"  id="page-top">

  <div id="loader"></div>
  
  <div style="display:none;" id="startDIV" class="animate-bottom">
    <div id="headDIV">
      <!-- Custom fonts for this template-->
      <link href="/static/sbadmin2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!-- Custom styles for this template-->
      <link href="/static/sbadmin2/css/sb-admin-2.min.css" rel="stylesheet">
      
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script> -->
    </div>


    <div id="bodydiv">
      <!-- <body id="page-top"> -->
      <!-- Page Wrapper -->
        {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
        <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
    
          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-graduation-cap"></i>
            </div>
            <div class="sidebar-brand-text mx-3">NUTC<br>Elearning<sup></div>
          </a>
    
          <!-- Divider -->
          <hr class="sidebar-divider my-0">
    
          <!-- Nav Item - Dashboard -->
          <li class="nav-item active">
            <a class="nav-link" href="/dashboard">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard</span></a>
          </li>
    
          <!-- Divider -->
          <hr class="sidebar-divider">
    
          <!-- Heading -->
          <div class="sidebar-heading">
              COURSE modal
          </div>
    
          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#COURSEcollapse" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-book"></i>
              <span>COURSE</span>
            </a>
            <div id="COURSEcollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">COURSE:</h6>
                <a class="collapse-item" href="/dashboard">English</a>
                <!-- <a class="collapse-item" href="cards.html">Cards</a> -->
              </div>
            </div>
          </li>
    
          <!-- Divider -->
          <hr class="sidebar-divider">
    
          <!-- Heading -->
          <div class="sidebar-heading">
            USER modal
          </div>
    
          <!-- Nav Item - Charts -->
          <li class="nav-item">
            <a class="nav-link" href="">
                <i class="fas fa-user-cog"></i>
              <span>Profile</span></a>
          </li>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
              <i class="fas fa-fw  fa-child"></i>
              <span>USER</span>
            </a>
            <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="index.html"><i class="far fa-hand-spock">&nbsp;</i>Login</a>
                <a class="collapse-item" href="index.html"><i class="fas fa-running">&nbsp;</i>Logout</a>

                <a class="collapse-item" href="/"><i class="fas fa-user-plus">&nbsp;</i>Register</a>
                <!-- <a class="collapse-item" href="forgot-password.html">Forgot Password</a> -->
                <!-- <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a> -->
              </div>
            </div>
          </li>
  
          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">
    
          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>
    
        </ul>
        <!-- End of Sidebar -->
    
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
    
          <!-- Main Content -->
          <div id="content">
    
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    
              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
              </button>
    
              <!-- Topbar Search -->
              <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
    
              <!-- Topbar Navbar -->
              {% if user.is_authenticated %}
              <ul class="navbar-nav ml-auto">
                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                  <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                  </a>
                  <!-- Dropdown - Messages -->
                  <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                      <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </li>
    
                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                  <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">3+</span>
                  </a>
                  <!-- Dropdown - Alerts -->
                  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                      Alerts Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-primary">
                            <i class="far fa-hand-spock"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-500">December 12, 2019</div>
                        <span class="font-weight-bold">歡迎使用NUTC線上學習系統</span>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-success">
                            <i class="far fa-grin-tongue-wink"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-500">December 7, 2019</div>
                          給你一點通知
                      </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="mr-3">
                        <div class="icon-circle bg-warning">
                            <i class="fab fa-accessible-icon"></i>
                        </div>
                      </div>
                      <div>
                        <div class="small text-gray-500">December 2, 2019</div>
                        系統開發建置中 若有問題請來電0800-091-000 
                      </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                  </div>
                </li>
    
                <!-- Nav Item - Messages -->
                <li class="nav-item dropdown no-arrow mx-1">
                  <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <!-- Counter - Messages -->
                    <span class="badge badge-danger badge-counter">7</span>
                  </a>
                  <!-- Dropdown - Messages -->
                  <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">
                      Message Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="/static/sbadmin2/img/hs.jpg" alt="">
                        <div class="status-indicator bg-success"></div>
                      </div>
                      <div class="font-weight-bold">
                        <div class="text-truncate">Hi.</div>
                        <div class="small text-gray-500">ADMIN · 58m</div>
                      </div>
                    </a>
                    
                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                  </div>
                </li>
    
                <div class="topbar-divider d-none d-sm-block"></div>
    
                <!-- Nav Item - User Information -->
                
                <li class="nav-item dropdown no-arrow">
                  <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                    <img class="img-profile rounded-circle" src="/static/sbadmin2/img/hs.jpg">
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                      Profile
                    </a>
                    <a class="dropdown-item" href="#">
                      <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                      Settings
                    </a>
                    <!-- <a class="dropdown-item" href="#">
                      <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                      Activity Log
                    </a> -->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Logout
                    </a>
                  </div>
                </li>
                
    
              </ul>
              {% else %}
    
              {% endif %}
            </nav>
            <!-- End of Topbar -->
    
            <!-- Begin Page Content -->
            <div class="container-fluid">
    
              <!-- Page Heading -->
              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">{{ course.name }}</h1>
                <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
              </div>
              <!-- Page Heading -->


              <!-- Content Row -->
                <div class="row">
    
       
                    <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">單字卡</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">APPLE</div>
                            </div>
                            <div class="col-auto">
                            <i class="fas fa-language  fa-2x text-gray-300"></i>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
        

                    <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">homework</div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                </div>
                                <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>

    
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-sm-12" >
                  <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ course.name }}</h6>
                  </div> 
                    <div class="card-body" style="padding:0.75rem;position: relative;">
                        <div class="col-xl-4 col-lg-4 col-sm-4"  style="float:left">
                          <!-- <img alt=""  class="img-fluid" src="{% static 'img/english-course.jpg' %}" style="border-radius:5px;" > -->
                          <img class="img-fluid" style="border-radius:5px;" src="/static/sbadmin2/img/undraw_teaching_f1cm.svg" alt="">
                        
                        </div>
    
                      <h3 class="card-title"><a href=""> {{ course.name }} </a></h3>

                      <p class="card-description">
                        <div class="courseContent">{{ course.desc|linebreaks }}</div>
                      </p>
                      <!-- <div style="position: relative;"> -->
                        
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              </div>


                <div class="row">
                  {% for lesson, words in lessons.items %}
                    {% for word in words %}
                    <div class="col-xl-12 col-lg-12 col-sm-12" >
                      <div class="card shadow mb-4">
                        <a href="#collapseCardExample{{ forloop.counter }}" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                          <h6 class="m-0 font-weight-bold text-primary">{{ word.words }}</h6>
                        </a>
                        <div class="collapse show" id="collapseCardExample{{ forloop.counter }}">
                          
                          <div class="card-body">
                            <h3 class="card-title" style="display:inline"><a href=""> {{ word.words }} </a></h3>
                            <!-- <span style="border:2px dotted #39c; padding:1px;"> 使用點點的外框 </span><p>
                            <span style="border:2px solid #39c; padding:1px;"> 使用實線的外框 </span><p>
                            <span style="border:2px dashed #39c; padding:2px;"> 使用虛線的外框 </span><p>
                            <span style="border:3px double #39c; padding:2px;"> 使用雙線的外框 </span><p>  -->
                            

                            <span class="word">[{{ word.kk }}]</span>
                            <br><br>
                            <span class="word">{{ word.description|linebreaks|truncatechars_html:300  }}</span>
                            <span class="badge badge-pill badge-success">{{ word.subject|truncatechars_html:300  }}</span>
                            <span class="word">{{ word.chinese|truncatechars_html:300  }}</span>
                            <br><br>
                            <span class="word">{{ word.example|linebreaks|truncatechars_html:300  }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  {% endfor %}
                </div>

    
          </div>
          <!-- End of Main Content -->
    
          <!-- Footer -->
          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright &copy; admin@gms.nutc.edu.tw 2019</span>
              </div>
            </div>
          </footer>
          <!-- End of Footer -->
    
        </div>
        <!-- End of Content Wrapper -->
    
      </div>
      <!-- End of Page Wrapper -->
    
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>
    
      <!-- Logout Modal-->
      <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <a class="btn btn-primary" href="/users/logout">Logout</a>
            </div>
          </div>
        </div>
      </div>
    
      <!-- goindex Modal 如果沒有登入 返回index時的確認視窗-->
      {% if user.is_authenticated %}
    
      {% else %}
      <script type="text/javascript">
        $(window).on('load',function(){
            $('#goindexModal2').modal('show');
        });
      </script>
      <div class="modal fade" id="goindexModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">請先登入</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">即將返回主頁面</div>
            <div class="modal-footer">
                <span id="totalSecond">5</span>
      
                <script language="javascript" type="text/javascript"> 
                  var second = document.getElementById('totalSecond').textContent; 
                  
                  if (navigator.appName.indexOf("Explorer") > -1)  { 
                      second = document.getElementById('totalSecond').innerText; 
                  } else { 
                      second = document.getElementById('totalSecond').textContent; 
                  } 
                  
                  setInterval("redirect()", 1000); 
                  function redirect() { 
                  if (second < 0) { 
                      location.href = '/'; 
                  } else { 
                      if (navigator.appName.indexOf("Explorer") > -1) { 
                          document.getElementById('totalSecond').innerText = second--; 
                      } else { 
                          document.getElementById('totalSecond').textContent = second--; 
                      } 
                    } 
                  } 
                </script> 
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  
  <script>
    var myVar;
    
    function startFunction() {
      myVar = setTimeout(showPage, 100);
    }
    
    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("startDIV").style.display = "block";
    }
  </script>



  
  <!-- Bootstrap core JavaScript-->
  <script src="/static/sbadmin2/vendor/jquery/jquery.min.js"></script>
  <script src="/static/sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/sbadmin2/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/sbadmin2/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/static/sbadmin2/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/static/sbadmin2/js/demo/chart-area-demo.js"></script>
  <script src="/static/sbadmin2/js/demo/chart-pie-demo.js"></script>

</body>

</html>
