<!doctype html>
<html>
<head>
    <title>COURSE_read</title>
    <meta charset="utf-8">
</head>
<body>
{% for message in messages %}
    <p class="{{ message.tags }}">{{ message }}</p>
{% endfor %}
<h3 class="inlineBlock">{{ course.name }}</h3>
<a class="btn inlineBlock" href="{% url 'course:courseUpdate' course.id %}">修改</a>
<h3><a href="{% url 'course:courseRead' course.id %}">{{ course.name }}</a></h3>
<p>course 發表時間：{{ course.add_time|date:'Y-m-d H:i' }}</p>
<p>course 內容: </p> 
<p>{{ course.likes.count }}</p>
{% if user.is_authenticated %}
<a href="{% url 'course:courseLike' course.id %}">讚</a>
{% endif %}
<div class="courseContent">{{ course.desc|linebreaks|truncatechars_html:30 }}</div>

{% for lesson in lessons %}
    <div class="lessonDiv">
    <p>lesson 名稱: </p><h4>{{ lesson.name }}</h4>
    <span class="lessonAuthor">{{ lesson.user.username }}</span>
    <p>lesson 內容: </p> 
    <span class="lesson">{{ lesson.desc|linebreaks|truncatechars_html:30  }}</span>
    <br>
    <p>lesson 新增時間: </p>
    <span class="lessonTime">{{ lesson.add_time|date:'m月d日 H:i' }}</span>
    </div>
{% endfor %}
</body>
</html>