<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
 
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet"> 

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>顯示停留時間</title>
<style type=text/css> 
	/*全部設定字體*/
	body { font-family: 'Noto Sans TC', sans-serif;}
</style>
</head>
<body>
<form name="form1" method="post" action="">
<center>
  <p><font size="5" color="#0000FF" face="華文細黑">您在本站已停留：</font></p>
  <p>
      <input name="textarea" type="text" value="">
    </p>
</center>
<script language="javascript">
var second=0;
var minute=0;
var hour=0;
window.setTimeout("interval();",1000);
function interval()
{
	second++;
	if(second==60)
	{
	second=0;minute+=1;
	}
	if(minute==60)
	{
	minute=0;hour+=1;
	}
	document.form1.textarea.value = hour+"時"+minute+"分"+second+"秒";
	window.setTimeout("interval();",1000);
}
</script>
</form>
</body>
</html>